<section class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="pt-10 pb-4 border-t border-gray-100">
      <div class="max-w-2xl text-left mb-12">
        <h2 class="text-lg leading-8 text-text-dark">
          Our clients come from companies including...
        </h2>
      </div>
      <div class="mx-auto grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none lg:gap-x-16 lg:gap-y-8 logo-grid" style="grid-template-columns: repeat(2, 1fr);">
        <style>
          @media (min-width: 1024px) {
            .logo-grid {
              grid-template-columns: repeat(5, 1fr) !important;
            }
          }
        </style>
        <%= image_tag "citi.png", class: "col-span-1 max-h-6 w-full object-contain lg:h-8", alt: "Citi" %>
        <%= image_tag "jpmorgan.svg", class: "col-span-1 max-h-6 w-full object-contain lg:h-6", alt: "JPMorgan Chase" %>
        <%= image_tag "google.png", class: "col-span-1 max-h-6 w-full object-contain lg:h-8", alt: "Google" %>
        <%= image_tag "tesla.png", class: "col-span-1 max-h-4 w-full object-contain lg:h-4", alt: "Tesla" %>
        <%= image_tag "samsung.png", class: "col-span-1 max-h-6 w-full object-contain lg:h-8", alt: "Samsung" %>
        <%= image_tag "Tsmc.svg.png", class: "col-span-1 max-h-10 w-full object-contain lg:h-16", alt: "TSMC" %>
        <%= image_tag "Savills.svg.png", class: "col-span-1 max-h-10 w-full object-contain lg:h-16", alt: "Savills" %>
        <%= image_tag "CBRE.svg.png", class: "col-span-1 max-h-4 w-full object-contain lg:h-4", alt: "CBRE" %>
        <%= image_tag "Lenovo.png", class: "col-span-1 max-h-6 w-full object-contain lg:h-8", alt: "Lenovo" %>
        <%= image_tag "yale.jpg", class: "col-span-1 max-h-10 w-full object-contain lg:h-16", alt: "Yale" %>
      </div>
    </div>
  </div>
</section>


