<!DOCTYPE html>
<html>
  <head>
    <title>FluentRx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind.css", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <!-- Font Awesome (CDN) for brand icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-M9i1yVv9cKxg0wFJzjX3n7k8H2l0n6QFh8Jw8M3Q2x3dQb+9QnYtNqH6mVd0mS0m4HnXoZk3qE1V9dC4c7Y0ig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <!-- Calendly link widget end -->
  </head>

  <body class="flex flex-col min-h-screen antialiased">
    <% unless controller_name == 'pages' && action_name == 'book' %>
      <%= render 'pages/header' %>
    <% end %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'pages/footer' %>
  </body>
</html>